# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
frontend/logs
frontend/*.log
frontend/npm-debug.log*

# Environment variables
backend/.env
frontend/.env

# Mac specific files
.DS_Store


